#!/bin/sh
# (c) Copyright 2016 DataNexus Inc.  All Rights Reserved.

echo '{"name":"postgresql-incremental-source", "config":{"connector.class":"JdbcSourceConnector","topic.prefix":"postgres_","connection.url":"jdbc:postgresql://{{ hostvars[groups['postgresql_source'].0].ansible_eth1.ipv4.address }}/postgres?user={{ postgresql_user }}&ssl=true","table.whitelist":"t1","mode":"incrementing","batch.max.rows":"100","tasks.max":"10"}}' | curl -X POST -d @- http://{{ hostvars[inventory_hostname].ansible_eth1.ipv4.address }}:8083/connectors --header "Content-Type: application/json"
