#!/bin/sh
# (c) 2016 DataNexus Inc.  All Rights Reserved.
# Licensed software not for distribution

if [ "$1" = "-h" ] ; then
  printf "Usage:  consume-topic [-h]\\thelp\\n"
  printf "\\tconsume-topic [-b BROKER:PORT] TOPIC\\tconsume topic messages\\n"
  printf "Example: consume-topic connect-status\\n"
  exit 0
elif [[ $# -ge 2 && "$1" = "-b" ]] ; then
   BROKER_HOSTS=$2
   shift && shift
elif [ $# -eq 1 ]; then
  BROKER_HOSTS={{ groups['kafka_public'][:5] | join(':' + broker.config.sslPort +',') }}:{{ broker.config.sslPort }}
fi

# we want to verify the topic exists before we consume it
{{ postflight.utilsDir }}/list-topics | grep $1 &> /dev/null
 if [ $? == 0 ]; then
   {{ utils_path }}/kafka-console-consumer{{ bin_suffix }} --bootstrap-server $BROKER_HOSTS --topic $1 --from-beginning --consumer.config {{ shaw.config.tls_path }}/{{ tenant }}/{{ broker.application }}/client-ssl.properties
 else
   printf "$1 topic does not exist!\n"
   exit 1
 fi
